<template>
    <div class="teacher">

        <el-breadcrumb separator="/">
            <el-breadcrumb-item :to="{ path: '/school_list' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>考试办列表</el-breadcrumb-item>

        </el-breadcrumb>
        <br/>


        <el-form :inline="true" class="demo-form-inline" :loading="loading" size="mini">

            <el-form-item label="姓名">
                <el-input v-model="search" placeholder="输入姓名查询"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button-group>
                    <el-button type="primary" @click="fetch" size="mini">查询</el-button>
                    <el-button @click="add_form.visible=true" size="mini">增加考试办</el-button>

                </el-button-group>
            </el-form-item>

        </el-form>


        <el-table
                :data="list"
                style="width: 100%"
                border
                size="mini"
                v-loading="loading"
        >


            <el-table-column label="序号">
                <template scope="scope">
                    {{scope.$index+(page_num-1)*page_size+1}}
                </template>
            </el-table-column>

            <% for(var i = 0;i < data_map.length;i++){ %>
            <% if(data_map[i].type != 'hidden'){ %>
            <el-table-column prop="<%= data_map[i].name %>" label="<%= data_map[i].label %>"></el-table-column>
            <% } %>
            <% } %>

            <el-table-column label="操作" width="190">
                <template scope="scope">
                    <el-button-group>
                        <el-button type="danger" @click="remove(scope.row)" size="mini">删除</el-button>
                        <el-button @click="open_edit(scope.row)" size="mini">编辑</el-button>
                    </el-button-group>

                </template>
            </el-table-column>
        </el-table>


        <el-dialog title="新增" :visible.sync="add_form.visible"
        >
            <el-form class="demo-form-inline" label-width="100px" :model="add_form" status-icon size="mini"
                     ref="add_form">

                <% for(var i = 0;i < data_map.length;i++){ %>
                <% if(data_map[i].type != 'hidden'){ %>
                <el-table-column prop="<%= data_map[i].name %>" label="<%= data_map[i].label %>"></el-table-column>
                <el-form-item label="<%= data_map[i].label %>" prop="<%= data_map[i].name %>">
                    <% if(data_map[i].type == 'input'){%>
                        <el-input v-model="add_form.<%= data_map[i].name %>"></el-input>
                    <%}%><% if(data_map[i].type == 'switch'){%>
                        <el-switch v-model="add_form.<%= data_map[i].name %>"></el-switch>
                    <%}%><% if(data_map[i].type == 'select'){%>
                        <el-select v-model="add_form.<%= data_map[i].name %>">
                            <el-option value="aaa" label="aaa"></el-option>
                            <el-option value="bbb" label="bbb"></el-option>
                            <el-option value="ccc" label="ccc"></el-option>
                        </el-select>
                    <%}%><% if(data_map[i].type == 'checkbox'){%>
                    <el-checkbox-group v-model="add_form.<%= data_map[i].name %>">
                        <el-checkbox  label="aaa" name="add_form.<%= data_map[i].name %>"></el-checkbox>
                        <el-checkbox  label="bbb" name="add_form.<%= data_map[i].name %>"></el-checkbox>
                        <el-checkbox label="ccc" name="add_form.<%= data_map[i].name %>"></el-checkbox>
                    </el-checkbox-group>
                    <%}%><% if(data_map[i].type == 'radio'){%>
                    <el-radio-group v-model="add_form.<%= data_map[i].name %>">
                        <el-radio  label="aaa" ></el-radio>
                        <el-radio  label="bbb"></el-radio>
                        <el-radio label="ccc"></el-radio>
                    </el-radio-group>
                    <%}%>
                </el-form-item>
                <% } %>
                <% } %>

            </el-form>


            <span slot="footer" class="dialog-footer">
          <el-button @click="add_form.visible=false" size="mini">取 消</el-button>
          <el-button type="primary" @click="add" size="mini">确 定</el-button>
        </span>
        </el-dialog>


        <el-dialog title="编辑" :visible.sync="edit_form.visible"
        >
            <el-form class="demo-form-inline" label-width="100px" :model="edit_form" status-icon size="mini"
                     ref="edit_form">

                <% for(var i = 0;i < data_map.length;i++){ %>
                <% if(data_map[i].type != 'hidden'){ %>

                <el-form-item label="<%= data_map[i].label %>" prop="<%= data_map[i].name %>">
                    <% if(data_map[i].type == 'input'){%>
                    <el-input v-model="add_form.<%= data_map[i].name %>"></el-input>
                    <%}%><% if(data_map[i].type == 'switch'){%>
                    <el-switch v-model="add_form.<%= data_map[i].name %>"></el-switch>
                    <%}%><% if(data_map[i].type == 'select'){%>
                    <el-select v-model="add_form.<%= data_map[i].name %>">
                        <el-option value="aaa" label="aaa"></el-option>
                        <el-option value="bbb" label="bbb"></el-option>
                        <el-option value="ccc" label="ccc"></el-option>
                    </el-select>
                    <%}%><% if(data_map[i].type == 'checkbox'){%>
                    <el-checkbox-group v-model="add_form.<%= data_map[i].name %>">
                        <el-checkbox  label="aaa" name="add_form.<%= data_map[i].name %>"></el-checkbox>
                        <el-checkbox  label="bbb" name="add_form.<%= data_map[i].name %>"></el-checkbox>
                        <el-checkbox label="ccc" name="add_form.<%= data_map[i].name %>"></el-checkbox>
                    </el-checkbox-group>
                    <%}%><% if(data_map[i].type == 'radio'){%>
                    <el-radio-group v-model="add_form.<%= data_map[i].name %>">
                        <el-radio  label="aaa" ></el-radio>
                        <el-radio  label="bbb"></el-radio>
                        <el-radio label="ccc"></el-radio>
                    </el-radio-group>
                    <%}%>
                </el-form-item>
                <% } %>
                <% } %>



            </el-form>


            <span slot="footer" class="dialog-footer">
          <el-button @click="edit_form.visible=false" size="mini">取 消</el-button>
          <el-button type="primary" @click="edit" size="mini">确 定</el-button>
        </span>
        </el-dialog>


        <br>
        <div style="display: inline-block;float: right">
            <el-pagination
                    background
                    layout="prev, pager, next"
                    :total="total"
                    @current-change="(p)=>page_num=p"
                    :current-page="page_num"
                    :page-size="page_size"
            >
            </el-pagination>
        </div>
    </div>
</template>

<script>


    import Promise from 'bluebird'

    export default {

        name: '<%=name%>',
        data() {
            return {
                rules: rules,
                list: [],
                total: 0,
                search: '',
                page_size: 10,
                page_num: 1,
                loading: false,
                add_form: {
                    <% for(var i = 0;i < data_keys.length;i++){ %>
                        <%= data_keys[i] %>:'',<% } %>
                    },
                edit_form: {
                <% for(var i = 0;i < data_keys.length;i++){ %>
                    <%= data_keys[i] %>:'',<% } %>
                },
            }
        },

        watch: {
            page_num() {
                this.fetch()
            }
        },

        methods: {
            change_page(p) {
                console.log(p)
            },
            open_edit(data) {
                console.log(data)
                var change_password = this.edit_form.change_password
                data.visible = true

                this.edit_form = {
                <% for(var i = 0;i < data_keys.length;i++) { %>
                    <%= data_keys[i] %>:data.<%= data_keys[i] %>,<%} %>
            }
            },
            async fetch() {

                var page_size = this.page_size,
                    page_num = this.page_num,
                    search = this.search,
                    that = this
                this.loading = true
                var response = await request.get('<%= api_source %>', {
                    params: {
                        page_size,
                        page_num,
                        search
                    }
                })
                this.list = response.data.<%= data_root %>
                    var
                page = response.data.page
                this.page_num = page.page_num
                this.page_size = page.page_size
                this.total = page.total
                this.loading = false
            },
            async add() {

                try {
                    await this.su_validate('add_form')
                    var add_form = this.add_form
                    var response = await request.post('<%= api_source %>', add_form)
                    this.add_form.visible = false
                    this.$message({
                        type: 'success',
                        message: '添加数据成功'
                    });
                    this.fetch()
                } catch (e) {
                    this.$message({
                        type: 'error',
                        message: e.error
                    });
                }

            },
            async remove(data) {

                try {
                    await this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    })
                    var response = await request.delete('<%= api_source %>' + data.id + '/')

                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                    this.fetch()
                } catch (e) {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                }

            },
            async edit() {
                try {
                    await this.su_validate('edit_form')
                    var edit_form = this.edit_form
                    var id = edit_form.id
                    this.$message({
                        type: 'success',
                        message: '修改信息成功!'
                    });
                    var response = await request.put('<%= api_source %>' + id + '/', edit_form)
                    this.edit_form.visible = false
                    this.fetch()
                } catch (e) {
                    this.$message({
                        type: 'error',
                        message: e.error
                    });
                }
            }
        },
        mounted() {
            this.fetch()
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
